
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
<script src="Scripts/jquery-2.1.4.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="Scripts/angular.js"></script>
<script src="/App/Controllers.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/themes/redmond/jquery-ui.css"></script>
<script src="Scripts/bootstrap-datepicker.js"></script>
<html ng-app="myapp">
<head>
    <script>
        $(function () {
            $("#date").datepicker();
        });
    </script>
</head>
<body>


<div ng-controller="paymentCtrl">
    <div class="input-append" ng-repeat="payment in user.payments">
        <select ng-model="payment.type">
            <option value="">--Select--</option>
            <option value="1">Cash Drop</option>
            <option value="2">Fleet Car</option>
            <option value="2">EFT</option>
        </select>
        <input type="number" ng-model="payment.amount"/>
        <button ng-click="remove($index)">X</button>


    </div>

    <button ng-click="add()">Add</button>
    <pre>{{user | json}}</pre>

    <button ng-click="Save()" class="btn btn-success">Save</button>
</div>
<div class="well" ng-controller="driveoffCtrl">
    <div ng-repeat="detail in DriveOff.details">
        <div class="col-md-12">
            Rego Number : <input type="text" ng-model="DriveOff.rego"/>
        </div>
        <div class="col-md-12">
            Car Color : <input type="text" ng-model="DriveOff.color"/>
        </div>
        <div class="col-md-12">
            Car Make : <input type="text" ng-model="DriveOff.carMake"/>
        </div>
        <div class="col-md-12">
            Litres: <input type="text" ng-model="DriveOff.litres"/>
        </div>
        <div class="col-md-12">
            Amount: <input type="text" ng-model="DriveOff.amount"/>
        </div>
    </div>

    <div class="col-md-12">
        <button ng-click="Save()">Save</button>
    </div>
    <pre>{{DriveOff | json}}</pre>


</div>







<!-- Accounts Controller -->
<div class="well" ng-controller="accountCtrl">
    <h1>Accounts</h1>
    <div class="row">
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Customer</span>
            <select ng-model="detail.Name" class="form-control" ng-options="customer for customer in Customers"></select>
        </div>
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Accounts</span>
            <select ng-model="detail.AccountName" class="form-control" ng-options="account for account in CustomerAccounts"></select>
        </div>

        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Amount</span>
            <input ng-model="detail.Amount" class="form-control"/>
        </div>
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Litres</span>
            <input ng-model="detail.Litres" class="form-control"/>
        </div>
    </div>
    <div class="col-md-12">
        <div class="col-md-2 col-md-offset-10">
            <button ng-click="Save()" class="btn btn-success">Save</button>
        </div>
    </div>



    <div class="row">
        <pre>{{detail|json}}</pre>
    </div>

</div>



<!-- Peterol Meters -->

<div ng-controller="meterCtrl">
    <h1>Meter Readings</h1>
    <table class="table">
        <thead>

        <th>Meter Type</th>
        <th>Reading</th>
        </thead>
        <tbody>

        <tr ng-repeat="detail in Meter.Details">
            <td>
                <div class="input-group">

                    <select ng-model="detail.Type" class="form-control" ng-options="meter for meter in MeterType">
                        <option value="">--Select a Meter Type--</option>
                    </select>


                </div>
            </td>
            <td>
                <div class="input-group">

                    <input ng-model="detail.Reading" class="form-control"/>

                </div>
            </td>

            <td>

                <button class="btn btn-danger" ng-click="Remove($index)">Remove</button>
                <button ng-if="$index = $last" class="btn btn btn-info" ng-click="Add()">Add new</button>
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <div class="col-md-1 col-md-offset-11">
                    <button class="btn btn btn-success" ng-click="Save()">Save</button>
                </div>
            </td>
        </tr>




        </tbody>



    </table>


    <pre>{{Meter|json}}</pre>
</div>


<!-- Invoices -->
<div class="well" ng-controller="invoiceCtrl">
    <h1>Invoices</h1>

    <div class="row">
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Supplier</span>
            <select ng-model="detail.SupplierName" class="form-control" ng-options="supplier for supplier in Suppliers"></select>
        </div>

        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Date</span>
            <input type="text" class="form-control" ng-model="detail.Date" id="date"/>

        </div>

        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Amount</span>
            <input type="text" class="form-control" ng-model="detail.Amount"/>

        </div>
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Invoice</span>
            <input type="text" class="form-control" ng-model="detail.InvoiceNo"/>

        </div>

        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">GST</span>
            <input type="text" class="form-control" ng-model="detail.GST"/>

        </div>
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Status</span>
            <select ng-model="detail.PaymentStatus" class="form-control" ng-options="pstatus as ps for (pstatus,ps) in PaymentStatus"></select>

        </div>
         <div class="input-group" ng-if="detail.PaymentStatus='1'">
            <span class="input-group-addon" id="basic-addon1">Cheque Number</span>
             <input type="text" class="form-control" ng-model="detail.ChequeNo" />

        </div>


    </div>
    <pre>
{{detail|json}}
</pre>


</div>



</body>
</html>

